html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** SECTION ACHATS ******/
#achats {
	background-color: #7e7e7e;
	padding: 100px;
}

#pixel4 {
	border: 1px solid #8e8e8e;
	border-radius: 8px;
	background-color: white;
	width: 500px;
	height: 500px;
	position: relative;
	top: 10%;
	left: 4%;
}

#achat_accessoires img {
	border: 1px solid #8e8e8e;
	border-radius: 8px;
	background-color: white;
	width: 200px;
	height: 200px;
}

#acc1 {
	padding: 5px;
	position: absolute;
	top: 14%;
	left: 57%;
}

#acc2 {
	padding: 5px;
	position: absolute;
	top: 14%;
	right: 10%;
}

#acc3 {
	padding: 5px;
	position: absolute;
	top: 53.7%;
	left: 57%;
}

#acc4 {
	padding: 5px;
	position: absolute;
	top: 53.7%;
	right: 10%;
}

#plus {
	position: absolute;
	padding: 5px;
	top: 85%;
	right: 22.10%;
	width: 130px;
	color: white;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	background: #538CF7;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
	font-family: 'Roboto', sans-serif;
}
#plus:hover {
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.30);
}

#acheter_pixel4 {
	position: absolute;
	padding: 5px;
	top: 85%;
	left: 22.10%;
	width: 130px;
	color: white;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	background: #538CF7;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
	font-family: 'Roboto', sans-serif;
}
#acheter_pixel4:hover {
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.30);
}

.livraison {
	font-family: 'Roboto', sans-serif;
	position: absolute;
	left: 10%;
	top: 120%;
}

.financement {
	font-family: 'Roboto', sans-serif;
	position: absolute;
	left: 33%;
	top: 120%;
}

.recyclage {
	font-family: 'Roboto', sans-serif;
	position: absolute;
	right: 33%;
	top: 120%;
}

.magasins {
	font-family: 'Roboto', sans-serif;
	position: absolute;
	right: 10%;
	top: 120%;
}

hr {
	
}

#text {
	top: 140%;
	margin: 0 0 20px 20px;
}

/*@media only screen and (max-width: 1000px){
	#achat_pixel4 img {
		width: 90%;
		height: 100%;
	}

	#acheter_pixel4 {
		top: 85%;
		left: 25%;
		padding: 5px;
		width: 130px;
		height: 90%;
	}

	#plus {
		top: 85%;
		right: 25%;
		padding: 5px;
		width: 130px;
		height: 90%;
	}

	#achat_accessoires {
		padding: 5px;
		width: 130px;
		height: 90%;
	}
}

@media only screen and (max-width: 1000px){
	#achats div#achat_accessoires:nth-of-type(2) img:nth-child(n){
		display: block;
		width: auto;
		height: auto;
	}
}*/

/* Opacité */
div img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
img#pixel4:hover {
	opacity: .7;
}
img#acc1:hover  {
	opacity: .7;
}
img#acc2:hover {
	opacity: .7;
}
img#acc3:hover {
	opacity: .7;
}
img#acc4:hover {
	opacity: .7;
}